.github
.history
Backend/.vs
Backend/Src/bin
Backend/Src/obj
Backend/Src/appsettings.Production.json
Backend/Tests/bin
Backend/Tests/obj
Frontend/dist
Frontend/node_modules
Frontend/blob-report
Frontend/playwright-report
Frontend/test-results
Frontend/playwright/.cache